# Segment and Cluster Neighbourhoods in Toronto

## Introduction

The Project assignment is an IBM/Coursera Applied Datascience Capstone Project assignment for Week 3, where goal is Segment and Cluster Neighbourhoods within Toronto.

### Assignments are being delivered in 3 a parts as follows:

1. Segment and Cluster Neighbourhoods in Toronto.
2. Use Geocoder Python package to derive latitude and longitude coordinates of each neighborhood to expand dataframe detail.
3. Explore and cluster the neighborhoods of Toronto. Decisions and observations are shared and maps to visualize neighbourhoods and their clustering are provided.

# Part 1 - Segment and Cluster Neighbourhoods in Toronto - Week 3

### Requirement 1: The dataframe will consist of three columns: Postal Code, Borough, and Neighborhood
#### Step 1: Perform wikipedia scrape from Toronto page using pandas read_html reader to  read url into our dataframe objects.   
Here we build our code to scrape https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [157]:
import pandas as pd
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
print("Pandas read_html found [", len(data),"] dataframe object tables within wiki html for us to explore.")

Pandas read_html found [ 3 ] dataframe object tables within wiki html for us to explore.

#### Step 2: Let's inspect the first of 3 dataframe object tables that were created by pandas read_html function to decide on which dataframe(s) we need to use.

In [235]:
# Information on data[0] dataframe index, column, non-null count, and data type
data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

#### Above data[0].info() function shows all columns of first frame to have 180 rows of non-null data of object data type

In [259]:
# First of three dataframe objects we created
data[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Use groupby function, to further explore  data[0] unique value counts for our 3 data columns

In [241]:
print("\nUnique Borough data size:\n")
print(data[0].groupby(['Borough']).size())

print("\nUnique Neighbourhood data size:\n")
print(data[0].groupby(['Neighbourhood']).size())

print("\nUnique Postal Code data size:")
data[0].groupby(['Postal Code']).size()

Unique Borough data size:

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Not assigned        77
Scarborough         17
West Toronto         6
York                 5
dtype: int64

Unique Neighbourhood data size:

Neighbourhood
Agincourt                                          1
Alderwood, Long Branch                             1
Bathurst Manor, Wilson Heights, Downsview North    1
Bayview Village                                    1
Bedford Park, Lawrence Manor East                  1
                                                  ..
Willowdale, Willowdale West                        1
Woburn                                             1
Woodbine Heights                                   1
York Mills West                                    1
York Mills, Silver Hills                           1
Length: 100, dtype: int64

Unique Postal Code data size:

Postal Code
M1A    1
M1B    1
M1C    1
M1E    1
M1G    1
      ..
M9V    1
M9W    1
M9X    1
M9Y    1
M9Z    1
Length: 180, dtype: int64

In [256]:
print("Nulls check:",data[0].isnull().values.any())
print("ISNA check:", df.isna().values.any())
print("NaN count:", df.isna().sum().sum())

Nulls check: False
ISNA check: False
NaN count: 0

### Observation summary for data[0] initial dataframe
1. We see all 3 columns of data (Postal Code, Borough, and Neighbourhood) 
we require to exist in this initial data[0] set.
2. Borough column shows 11 unique Boroughs and 77 rows where value is 'Not assigned'.
3. Neighbourhood column shows 100 Neighbourhood rows. Several rows shown have multiple neighbourhood entries.
4. Neighbourhood column also shows 77 rows where value is 'Not assigned'. Likely candidate for removal.
5. Postal Code column shows all postal codes are unique within data[0] set.
6. Zero isna or null values found anywhere in our data[0] dataframe.

While the above data[0] dataframe object looks good based on overall requirements, we have data[1] and data[2] pandas created objects to also examine through data analysis.
We will data wrangle, clean, and transform to new dataframe as needed per requirements in upcoming Requirement #2 steps.
#### Step 3: We next examine data[1], our second of three dataframe objects.

In [262]:
print(data[1].shape, "rows by cols")
data[1].head(5)

(4, 18) rows by cols

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NL,NS,PE,NB,QC,QC,QC,ON,ON,ON,ON,ON,MB,SK,AB,BC,NU/NT,YT
3,A,B,C,E,G,H,J,K,L,M,N,P,R,S,T,V,X,Y

#### Observation: 
The above data object table [1] contains Canada province/state higher domain level information, not in scope for our Toronto City level model.
#### Step 4: Let's  examine our third and last data[2] dataframe object also returned by html reader.

In [263]:
# Review third data[2] object table
print(data[2].shape, "rows by cols")
data[2].head(5)

(2, 18) rows by cols

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

#### Observation: 
The above data object table [2] also contains Canada province/state higher domain level information, also not in scope for our Toronto City level model.
#### Step 5: Create our dataframe using data[0].

In [264]:
print('\033[1m Requirement 1 completed:\033[0m',u'\N{check mark}')
print("New dataframe, df, created using our transformed data[0] dataframe which has our 3 required columns.")
df=data[0]

 Requirement 1 completed: âœ“
New dataframe, df, created using our transformed data[0] dataframe which has our 3 required columns.

### Requirement 2:  Ensure Borough cells with an assigned borough are processed. Cells where borough = 'Not assigned' are ignored.
#### Step 6: Clean data - Review our 'Not assigned" count data on Borough and clean as necessary.

In [268]:
print(df.Borough.value_counts())

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

#### Observation: 
77 row counts found (see first line of above printout) where Borough column has 'Not Assigned' row value
#### Remove all rows from our dataframe where Borough column has 'Not Assigned' value, as required.

In [269]:
df = df[df['Borough'] != 'Not assigned']
print(df.Borough.value_counts())

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

#### Observation: Recheck confirms 77 'Not assigned' rows for Borough column have been successfully removed from frame

In [266]:
print('\033[1m Requirement 2 completed:\033[0m',u'\N{check mark}')

 Requirement 2 completed: âœ“

### Requirement 3:  When two or more neighborhoods share the same postal code, combine each neighbourhood to a single neighborhood line comma delimited.

#### Step 7: The case described in Requirement 3 above applies to cases where two seperate rows exist  with same Postal Code. We  perform a simple check for Postal Code duplicates as follows:

In [166]:
dup_chk_req3 = df.apply(lambda x: x.duplicated()).sum()
print(dup_chk_req3)
print(df.head(5))

Postal Code       0
Borough          93
Neighbourhood     4
dtype: int64
  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Observations: 
1. The above duplication check confirms Postal Code value above of 0 value means there are no cases where two seperate rows exist to share same Postal Code. That would require two identical postal codes in a column which we didn't find. In summary, Requirement 3 doesn't apply.
2. Additionally, there are a number of cases seen where multiple neighbourhoods are already found to be comma delimited within our original inbound data to our dataframe (shown above), which do share common Postal Code between them as required. Therefore neighbor combination method is already working as desired. Previously known issue requiring a fix were not required using the pandas read_html method.

In [276]:
print('\033[1m Requirement 3 doesn\'t apply as there are no duplicate rows sharing same postal code.')
print('\033[1m Condition checked for handling:\033[0m',u'\N{check mark}')

 Requirement 3 doesn't apply as there are no duplicate rows sharing same postal code.
 Condition checked for handling: âœ“

### Requirement 4 - If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

#### Step 8: List all rows where Neighbourhood = 'Not assigned'. If we find any cases, we populate Neighbourhood value using Borough value.

In [281]:
Num_Neighbourhood_Not_Assigneds = df[df['Neighbourhood'] == 'Not assigned']
Num_Neighbourhood_Not_Assigneds.head(5)

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### Observation: 
No applicable 'Not assigned" Neighborhood cases were found where neighbourhood needed to be filled with Borough value, as would be due to 'Not assigned" value.  Non issue per requirement as defined.

In [283]:
print('\033[1m Requirement 4 - Met requirement. Condition checked for handling. \033[0m',u'\N{check mark}')

 Requirement 4 - Met requirement. Condition checked for handling.  âœ“

### Requirement 5 - All required explanations and assumptions made have been noted.
#### Throughout this Notebook, at each step above, the requirement objective, planned activity, thought process, and observations are shared.

In [284]:
print('\033[1m Requirement 5 met:\033[0m',u'\N{check mark}')

 Requirement 5 met: âœ“

### Requirement 6: Use the .shape method to print the number of rows of your dataframe.

#### Step 9: Run shape method on our final dataframe

In [288]:
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [172]:
print(df.shape, 'rows x cols')

(103, 3) rows x cols

#### Observation: 
Net of 103 rows of data after 77 rows removed based on above Requirement 2, Step #8.

# Part 2 - Use Geocoder Python package to derive latitude and longitude coordinates of each neighborhood to expand dataframe detail - Week 3

In [289]:
import requests # library to handle requests
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

In [290]:
#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [291]:
### Add Geospatial coordinates to our dataframe'

In [176]:
#Build geodata dataframe  
geodata = pd.read_csv("D:/DSPs/Geospatial_Coordinates.csv")
geodata.head(5)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [177]:
#### Merge geodata into our dataset joined on 'Postal Code'

In [178]:
#df = pd.merge(df,geodata, how='inner', left_on='Postal Code', right_on='Postal Code')
#df.head(5)
#frames=[df,geodata]
#df_keys = pd.merge(frames)
#df_keys
df.head(5)

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [179]:
combined = pd.merge(df,geodata[['Latitude']],left_index=True, right_index=True, how='outer')

In [180]:
combined.head(5)

  Postal Code           Borough              Neighbourhood   Latitude
0         NaN               NaN                        NaN  43.806686
1         NaN               NaN                        NaN  43.784535
2         M3A        North York                  Parkwoods  43.763573
3         M4A        North York           Victoria Village  43.770992
4         M5A  Downtown Toronto  Regent Park, Harbourfront  43.773136

In [181]:
df = pd.merge(df, geodata, on='Postal Code', how='left')
df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [182]:
df.shape

(103, 5)

In [183]:
#### We have full count and dimensions.

In [184]:
print(df.count())
print(df.shape)

Postal Code      103
Borough          103
Neighbourhood    103
Latitude         103
Longitude        103
dtype: int64
(103, 5)

In [185]:
df.groupby(['Borough']).size()

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Scarborough         17
West Toronto         6
York                 5
dtype: int64

In [186]:
## Week 3 - PART 3

#### Get Boroughs for Toronto clustering

In [187]:
df[df['Borough'].str.contains('Toronto')]

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
19,M4E,East Toronto,The Beaches,43.676357,-79.293031
20,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
24,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
25,M6G,Downtown Toronto,Christie,43.669542,-79.422564
30,M5H,Downtown Toronto,"Richmond, Adelaide, King",43.650571,-79.384568
31,M6H,West Toronto,"Dufferin, Dovercourt Village",43.669005,-79.442259
36,M5J,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands",43.640816,-79.381752
37,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M5K,Downtown Toronto,"Toronto Dominion Centre, Design Exchange",43.647177,-79.381576
43,M6K,West Toronto,"Brockton, Parkdale Village, Exhibition Place",43.636847,-79.428191
47,M4L,East Toronto,"India Bazaar, The Beaches West",43.668999,-79.315572
48,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
54,M4M,East Toronto,Studio District,43.659526,-79.340923
61,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
62,M5N,Central Toronto,Roselawn,43.711695,-79.416936
67,M4P,Central Toronto,Davisville North,43.712751,-79.390197
68,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park",43.696948,-79.411307
69,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
73,M4R,Central Toronto,"North Toronto West, Lawrence Park",43.715383,-79.405678
74,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
75,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
79,M4S,Central Toronto,Davisville,43.704324,-79.388790
80,M5S,Downtown Toronto,"University of Toronto, Harbord",43.662696,-79.400049
81,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
83,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
84,M5T,Downtown Toronto,"Kensington Market, Chinatown, Grange Park",43.653206,-79.400049
86,M4V,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest...",43.686412,-79.400049
87,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har...",43.628947,-79.394420
91,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
92,M5W,Downtown Toronto,Stn A PO Boxes,43.646435,-79.374846
96,M4X,Downtown Toronto,"St. James Town, Cabbagetown",43.667967,-79.367675
97,M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558

In [ ]:
print("\nUnique Borough data size:\n")

In [218]:
print("\nUnique Postal Code data size:")
print(data[0].groupby(['Postal Code']).size())

print("\nUnique Borough data size:\n")
print(data[0].groupby(['Borough']).size())

print("\nUnique Neighbourhood data size:\n")
print(data[0].groupby(['Neighbourhood']).size())

Unique Postal Code data size:
Postal Code
M1A    1
M1B    1
M1C    1
M1E    1
M1G    1
      ..
M9V    1
M9W    1
M9X    1
M9Y    1
M9Z    1
Length: 180, dtype: int64

Unique Borough data size:

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Not assigned        77
Scarborough         17
West Toronto         6
York                 5
dtype: int64

Unique Neighbourhood data size:

Neighbourhood
Agincourt                                          1
Alderwood, Long Branch                             1
Bathurst Manor, Wilson Heights, Downsview North    1
Bayview Village                                    1
Bedford Park, Lawrence Manor East                  1
                                                  ..
Willowdale, Willowdale West                        1
Woburn                                             1
Woodbine Heights                                   1
York Mills West                                    1
York Mills, Silver Hills                           1
Length: 100, dtype: int64

In [234]:
# Additional check for Not assigned in Neighbourhood column
data[0][data[0]['Postal Code'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [ ]:
1. We see 180 unique Neighborhoods in Toronto which is 40 additional to the 140 officially recognized by the Toronto wikipedia neighbourhood list found at https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto. Possible explanation may be due to this other wiki site reporting 140 as officially recognized Neighbourhoods and upwards of 240 official and unofficial. So the 180 in our postal code source data from wikipedia, could likely be comprised of 40 neighbourhoods that might be adds from the unofficial counts. This is not an issue and just an observation for awareness and an attempt to understand possible reasons.